/* You can add global styles to this file, and also import other style files */

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 1000,
        'GRAD' 0,
        'opsz' 60 !important;
        font-size: 36px;
    
}
.cart{
    margin-bottom: 300px !important; 
}